#!/usr/bin/env bash

# System update
sysupdate() {
	sudo softwareupdate -i -a
}

# Environment update
envupdate() {
	declare -a actions=("npm update -g npm" "npm update -g")
	for action in "${actions[@]}"
	do
		echo "Run action: $action"
		sudo ${action}
	done
	unset action actions
}

# Update dotfiles
# `cd` to the directory of the `dotfiles` repository and type `dotfiles`
# cp -af ~/<some directory structure>/dotfiles/<dotfile> ~/<dotfile>
dotfiles() {
	sudo -v
	for dotfile in .{bash_profile,bash_prompt,bashrc,gitconfig,gitattributes,gitignore,aliases,functions,vimrc}
	do
		if [ -r $dotfile ] && [ -f $dotfile ]
		then
			echo "Update $dotfile"
			cp -af $dotfile ~/$dotfile
		fi
	done
	source ~/.bash_profile
	unset dotfile
}

# Update dotfiles via SSH
# An `scp`-extending function to copy dotfiles to a remote server
# @param 1 <string> ssh user
# @param 2 <string> ssh host
remotedotfiles() {
	scp -p ~/.{bash_profile,bash_prompt,bashrc,gitconfig,gitattributes,gitignore,aliases,functions,vimrc} $1@$2:~/
}
