[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f

[user]
	name = ppseprus
	email = p.seprus@gmail.com

[core]
	attributesfile = ~/.gitattributes
	excludesfile = ~/.gitignore

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[color]
	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = always

[color "branch"]
	current = 38
	local = 43
	remote = normal
	plain = normal

[color "diff"]
	context = normal
	meta = 43
	frag = 227
	func = 38
	old = 124
	new = 38
	commit = 227
	whitespace = 124

[color "decorate"]
	branch = 43
	remoteBranch = 227
	tag = 227
	stash = 124
	HEAD = 38

[color "grep"]
	filename = 43
	linenumber = 227
	separator = normal
	function = 43 bold

	# Context is the text that is
	# not matching, nor selected.
	context = normal nodim

	# Matched text in selected lines
	matchSelected = 38 reverse

	# Matched text in non-selected/context lines
	matchContext = 43 reverse

	# Selection is a line-based term.
	# By default, the lines with the matching
	# text are the selected one.
	# `-v` inverts that, therefore,
	# the selected lines are the ones where
	# there is no matching text.
	selected = 38 nodim

[color "interactive"]
	prompt = 227
	header = 43
	help = 43
	error = 124

[color "status"]
	header = 43
	added = 38
	updated = 38
	changed = 124
	untracked = 124
	branch = 43
	nobranch = 124
	unmerged = 124
